@charset "UTF-8";
        #w-slider{
            margin:50px auto;
            width:800px;
            position: relative;
        }
        #slider{
            position: relative;
            width:800px;
            height:450px;
            overflow: hidden;
        }
        #slider img{
            width:800px;
            position: absolute;
        }
        .slider-ctrl{
            text-align: center;
        }
        .slicer-ctrl-con{
            display: inline-block;
            width:24px;
            height:20px;
            background:url(../images/icon.png) no-repeat -24px -764px;
            text-indent: 5em;
            overflow: hidden;
            margin:1px;
            cursor: pointer;
        }
        .slicer-ctrl-left,
        .slicer-ctrl-right{
            position: absolute;
            top:225px;
            font-weight: bold;
            font-size: 30px;
            font-family:"宋体";
            color:#fff;
            cursor: pointer;
            padding:2px 5px;
        }
        .slicer-ctrl-right{
            right:10px;
        }
        .slicer-ctrl-left{
            left:10px;
        }
        .current{
            background:url(../images/icon.png) no-repeat 0 -764px;
        }